@using PrimeSolverCommon;

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Prime Solver</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
            Prime Solver solves primes using Azure.
        </p>
        <p>The application uses ASP.NET MVC, SQL Database, Azure storage queues, Entity Framework, jQuery, Bootstrap</p>
        <ul>
            <li>@Html.ActionLink("All", "Index", "PrimeNumberCandidate", null, null)</li>
        </ul>
        <h2>Or test a new prime number</h2>
        <p><a class="btn btn-default" href="@Url.Action("CreateMany","PrimeNumberCandidate")">Solve many primes</a></p>
    </div>
</div>